 <div class="container-fluid">
<h1 style="text-align: center;"><b>Swati's Project</b></h1>
    <ul>
        <li><a [routerLink]="['/home']">home</a></li>
        <li><a [routerLink]="['/about']">about</a></li> 
        <li><a [routerLink]="['/reactiveform']">reactive form</a></li>
        <li><a [routerLink]="['/style']">style-binding</a></li>
        <li><a [routerLink]="['/practice_reactive_form']">practice_reactive_form</a></li>
        <li><a [routerLink]="['/form']">form</a></li>
        <li><a [routerLink]="['/newform']">Newform</a></li>
        <li><a [routerLink]="['/conditions']">conditions</a></li>
        <li><a [routerLink]="['/api']">ApiData</a></li>
        <li><a [routerLink]="['/newapi']">NewApiData</a></li>
        <li><a [routerLink]="['/practiseapi']">practiseapi</a></li>
        <li><a [routerLink]="['/templatedriven']">template Driven form</a></li>
    </ul>
</div>
 
