<p>conditions works!</p>
<!-- <p>if else conditions</p> -->
<h4 *ngIf="show3 else elseblock">
    if block
</h4>
<ng-template #elseblock>
    <h4>           
        else block
    </h4>
</ng-template><br> 


<!-- <p>ifblock elseblock</p> -->
<p *ngIf="show1=='yes'; then ifblock else elseblock"></p>
<ng-template #ifblock>
    if block
</ng-template>
<ng-template #elseblock>
    elseblock
</ng-template><br>

<!-- <p>elseif block</p> -->
<ng-template [ngIf]="show2=='red'">
    red block
</ng-template>

<ng-template [ngIf]="show2=='blue'">
    blue block
</ng-template>
<ng-template [ngIf]="show2=='green'">
    green block
</ng-template>

<p>switchcsae</p>
<div [ngSwitch]="color">
    <h1 style="color:red" *ngSwitchCase="'red'">
         red block
    </h1>
    <h1 style="color:green"*ngSwitchCase="'green'">
        green block
   </h1>
   <h1 style="color:pink" *ngSwitchCase="'pink'">
    pink block
</h1>
<h1 style="color:yellow"*ngSwitchCase="'yellow'">
    yellow block
</h1>

</div><br>

<p>for loop</p>

<div *ngFor="let value of data1">
{{value}}
</div>

<div *ngFor="let value1 of data">
    {{value1.name}}
    {{value1.age}}
</div>

<div>
   <table border="1" style="margin: 30px; width: 20%;">  
       <tr *ngFor="let value1 of data"> 
           <td>{{value1.name}}</td> 
           <td>{{value1.age}}</td>
      </tr>
   </table>
</div>
<p>{{5+5}}</p>
<p>5+5</p>
<p>{{5*5}}</p>
<p>{{5/5}}</p>
<P>{{5%5}}</P>
<P>{{convertToDate()}}</P>
<!-- <P>{{ new Date()}}</P> -->

<p>{{classname}}</p>  
<!-- < [Propbind]='swatidesale'><> -->



